*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  
  scroll-behavior: smooth;
}

code {
  font-family: 'Poppins', sans-serif;
}


.container {
  height: 80vh;
  position: relative;
}

.MuiButton-root {
  font-family: 'Poppins', sans-serif !important;
}